/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*-------------------- Website Base CSS ----------------------*/ 

html, body {
  width: 100%;
  overflow: auto;
  height: 100%;
}

main {
  height: 100%;
}

html {
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: 'David Libre', serif;
  font-size: 1em;
  background-color: #18241A;
}

h1 {
  font-family: euphorigenic;
  font-size: 3em;
  color: #6D7E5A;
  margin: 0;
  text-align: center;
}

h1 em {
  color: #FDFDFD;
}

h2 {
  font-family: euphorigenic;
  font-size: 4em;
  color: #6D7E5A;
  margin: 0 auto;
}

h3 {
  font-size: 1.5em;
  color: black;
  margin: 30px auto;
  text-align: center;
  font-weight: 400;
}

h4 {
  font-size: 10vw;
  color: black;
  margin: auto;
  text-align: center;

}


p {
  color: black;
  margin: 30px 0 50px 0;
}

/*-------------------- Cover Homepage Mobile CSS ----------------------*/ 


.cover {
overflow:hidden;
height: 100%;
margin: 10px 0 0 0;
}


.content-wrapper-cover {
  width: 83%;
  margin: auto;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.background-img {
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 20%;
}

.background-img img {
  margin-top: 27px;
  width: 100%;
}

.menu{
margin: 25px 0;
width: 40px;
float: right;
transition: 0.5s;
}


.menu-lines {
  background-color: #707070;
  height: 4px;
  margin: 3px 0;
}

.one {
  width: 100%;
}

.two {
  width: 75%;
  float: right;
}

.three {
  width: 90%;
  float: right;
}

.menu:hover div {
  width: 100%;
}

.cover-parent {
  display: flex;
  height: 37%;

}

.cover-main {
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  margin:auto;
  width: 100%;
}

.cover-title {
  margin: 10px 10px 25px 0;
  font-size: 8.5vw;
}

.cover-text {
  font-size: 3vw;
  color: #FDFDFD;
  margin: 0;
}

/*-------------------- Main pages Mobile CSS ----------------------*/ 

.content-wrapper {
  width: 83%;
  margin: auto;
  display: flex;
  padding-top: 50px;
}

header .content-wrapper {
  flex-flow: row;
  padding: 25px 0;
}

header div .mobile-menu {
  width: 100%;
  margin: auto;
}

/*------------------- Menu Button Options -------*/


#dropdown-options {
  display: none;
  background-color: #18241A;
  min-width: auto;
  z-index: 1;
  margin: auto;
}

#dropdown-options a {
  color: #707070;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 5px 0 5px;
  display: block;
}

.menu-child:hover .menu-lines, .menu-child:active .menu-lines {
  display:none;
}

.menu-child:hover, .menu-child:active {
  display: flex;
  width: 30%;
  margin: 0;
}

.menu-child:hover #dropdown-options, .menu-child:hover #dropdown-options {
  border: none;
  display: flex;
  flex-flow: column
  
}


/*---- End Button Options ---*/


.about, .skills, .portfolio {
  background-color: white;
  width: 100%;
}

section .content-wrapper {
  flex-flow: column;
}

section div .skills-text {
  display: flex;
  text-align: center;
  flex-flow: column;
  margin: auto;
  width: 90%;
}


footer {
  background-color: #E6E4E2;

}

footer .content-wrapper {
  flex-flow: column;
  padding-bottom: 50px;
}



footer div .contact-icons {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 30%;
    margin: 20px auto 0 auto;
}

.contact-icons p {
  margin: 30px auto 0 auto;
}

.contact-icons i {
  color: black;
  font-size: 3em;
}

.contact-icons i:hover {
  color: #6D7E5A;
}

/*-------------------- About Page Mobile CSS ----------------------*/ 


.about {
  padding-bottom: 20px;
}

.about-container-parent {
  margin: 30px 0 0 0;
  display: flex;
  flex-flow: column;
}

.portrait-container {
  display: flex;
}

.portrait-container img {
  width: 90%;
  margin: auto;
}

.about p {
  margin: 30px 0;
}

/*-------------------- Portfolio Page Mobile CSS ----------------------*/ 

.portfolio-container-parent {
  display: flex;
  flex-flow: column;
  margin-top: 50px;
}

.portfolio-container-small {
  margin: auto;
  width: 80%;
}

.portfolio a img {
  width: 100%;
  border: 1px solid #6D7E5A;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/*----------------------- Media Queries - Tablet ----------------------------------------*/

@media only screen and (min-width: 768px) {

/*-------------Cover Page adjustments -------------*/

.menu {
  width: 48px;
}

.cover-parent {
  height: 57%;
  width: 80%;
  margin: 0 auto;
}

.content-wrapper-cover a {
  margin-top: 30px;
}

/*-------------General Page adjustments -------------*/

.main-menu-lines {
  display: none;
  z-index: -1;
}

header .content-wrapper {
  justify-content: space-between;
}

header div .mobile-menu {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 30%;
  margin: 0;
}

#dropdown-options {
  display: flex;
  justify-content: flex-end;
}

#dropdown-options a {
  color: white;
}

.menu-child:hover .menu-lines, .menu-child:active .menu-lines {        /*----- FIX LATER ----*/
  display:none;
}

.menu-child:hover #dropdown-options, .menu-child:hover #dropdown-options {
  border: none;
  display: flex;
  flex-flow: row;
}


#dropdown-options:hover #dropdown-options a {
  color: #6D7E5A;
}

h4 {
  font-size: 5vw;
}

footer div .contact-icons {
  flex-flow: row;
  width: 60%;
  justify-content: space-between;
  margin: 0 auto;
}

.contact-icons i {
  font-size: 2.5em;
}

/*-------------Skills Page adjustments -------------*/

.skills .content-wrapper {
  width:67%;
}

section div .skills-text {
  width: 50%;
}

section div .skills-right {
  text-align: right;
  margin-left: 50%;
}

section div .skills-left {
  text-align: left;
  margin-right: 50%;
}

/*-------------About Page adjustments -------------*/

.about div .about-container-parent {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.portrait-container {
  width: 37%;
}

.about-top {
  width: 63%;
  padding-left: 15px;
  box-sizing: border-box;

}

.about-bottom {
  width: 100%;
  margin-top: 0;
}

/*-------------Portfolio Page adjustments -------------*/

.portfolio .content-wrapper {
  width: 100%;
}

.portfolio-text {
  margin-bottom: 25px;
}


.portfolio-container-small {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
}

#green-portfolio {
  background-color: #6D7E5A;
  width: 100%;
  margin-bottom: 25px;
}

.portfolio a {
  width:40%;
}

.portfolio a img {
  width: 100%;
}

.port-one, .port-three {
  flex-flow: row-reverse;
  width: 83%;
  margin-bottom: 25px;

}

.port-two {
  background-color: #6D7E5A;
  width: 83%;
}

.port-one h3, .port-three h3{
  margin: auto 0;
}

.port-two h3 {
    margin: auto 0;
}

}


/*----------------------- Media Queries - Tablet ----------------------------------------*/

@media only screen and (min-width: 1200px) {
/*-------------Cover Page adjustments -------------*/

.menu-lines {
  height: 5px;
}

.menu {
  width: 60px;
}

.cover {
  margin: auto;
}

.cover-parent {
  width: 100%;
  height: 100%;
}

.background-img {
  display: flex;
}

.cover .background-img img {
  margin: auto;
  max-width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
}  



@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

